html {
  scroll-behavior: smooth;
}

.Overview img {
  border: 1px solid black;
}

.row-info,
.mar-pad .margin div {
  text-align: center;
}

.mar-pad .padding div {
  border: 1px solid black;
}

.row-info div {
  height: 50px;
}

.color .col-9 .col-6 div {
  height: 50px;
  font-size: 12px;
  font-weight: bold;
}

.heads h5 {
  margin: 0;
}

.bg-light {
  background-color: rgb(195, 195, 195);
}

.border {
  border: 1px solid rgb(0, 0, 0);
}

.border div {
  border: 1px solid rgb(0, 0, 0);
}

.fixed-menu-info {
  position: relative;
  height: 400px;
  border: 1px solid black;
}

.fixed-menu-info .fixed-menu {
  color: #000;
  position: absolute !important;
  height: 300px;
  display: block;
}

.fixed-menu li {
  padding: 10px !important;
}

.slider-3 {
  height: 200px !important;
}

@media screen and (max-width: 768px) {
  .responsive-right{
    
  }
  .responsive-left{
    display: none;
  }
}

.img-div img {
  width: 600px !important;
}
